<div class="contacts-head visible-desktop">
        наши контакты
</div>
<ol class="desc-contacts">
  <span class="phone-desk"><i class="icon-phone-sign"></i> <%= Setting.phone_text %></span>   
  <span class="skype-desk"><a href="skype:<%=Setting.skype_text%>", class="skype-link", title="Skype"><i class="icon-skype"></i> <%=Setting.skype_text%></a></span>
  <span class="vkonsq-desk">
    <%= link_to(image_tag("vkon_square.png", title: "ВКонтакте"), Setting.vk_text) %>
  </span>
  <span class="vkon-desk hidden-phone">
    <%= link_to(image_tag("vkon.png", title: "ВКонтакте"), Setting.vk_text) %>
  </span>
</ol>

