<div class="row-fluid">
  <div class="center-phones hidden-desktop">
    <%= render 'layouts/phones' %>
  </div>
  <span class="left-as">
    <div class="as-feedbacks visible-desktop">
      <%= render 'layouts/as_feedbacks' %>
    </div>
    <div class="vkgroup-vidget visible-desktop">
      <%= render 'layouts/as_vkgroup' %>
    </div>
  </span>
  <span class="center-col">
    <div class="company-desk">
      <%= render 'as_company' %>
    </div>
    <div class="right-vipcars visible-phone">
      <%= render 'layouts/right_teasercars' %>
    </div>
    <div class="as-feedbacks visible-phone">
      <%= render 'layouts/as_feedbacks' %>
    </div>
  </span>
  <span class="right-as">
    <div class="right-vipcars hidden-phone">
      <%= render 'layouts/right_teasercars' %>
    </div>
    <div class="as-feedbacks visible-tablet">
      <%= render 'layouts/as_feedbacks' %>
    </div>
  </span>
</div>
