<div class="row-fluid">
  <div class="center-phones hidden-desktop">
    <%= render 'layouts/phones' %>
  </div>
  <span class="left-as">
    <div class="as-feedbacks visible-desktop">
      <%= render 'layouts/as_feedbacks' %>
    </div>
    <div class="vkgroup-vidget-01 visible-desktop">
      <%= render 'layouts/as_vkgroup_01' %>
    </div>
  </span>
  <span class="center-col">
    <div id="center-div">
      <div class="as-callback visible-phone">
        <div id="btn-div">
          <button type="button" id="show-button" class="btn btn-flat" data-toggle="modal" data-target="#modal-callback">
            Заказать обратный звонок
          </button>
        </div>
        <div class="modal hide fade" id="modal-callback" aria-hidden="true">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
          <%= render 'layouts/as_callback' %>
        </div>
      </div>
      <div id="company-desk">
        <%= render 'layouts/as_company' %>
      </div>
      <div class="as-feedbacks visible-phone">
        <%= render 'layouts/as_feedbacks' %>
      </div>
      <div class="right-teasercars visible-phone">
        <%= render 'layouts/right_teasercars' %>
      </div>
      <div class="vkgroup-vidget-03 visible-phone">
        <%= render 'layouts/as_vkgroup_03' %>
      </div>
    </div>
  </span>
  <span class="right-as">
    <div id="right-col">
      <div class="as-callback" data-spy="affix" data-offset-top="97">
        <%= render 'layouts/as_callback' %>
      </div>
      <div class="right-teasercars hidden-phone">
        <%= render 'layouts/right_teasercars' %>
      </div>
      <div class="as-feedbacks visible-tablet">
        <%= render 'layouts/as_feedbacks' %>
      </div>
      <div class='vkgroup-vidget-02 visible-tablet'>
        <%= render 'layouts/as_vkgroup_02' %>
      </div>
    </div>
  </span>
</div>
