<div class="row-fluid">
  <div class="center-phones hidden-desktop">
    <%= render 'layouts/phones' %>
  </div>
  <span class="left-as">
    <div class="as-feedbacks visible-desktop">
      <%= render 'layouts/as_feedbacks' %>
    </div>
    <div class="vkgroup-vidget-01 visible-desktop">
      <%= render 'layouts/as_vkgroup_01' %>
    </div>
  </span>
  <span class="center-col">
    <div class="company-desk">
      <%= render 'shared/as_company' %>
    </div>
    <div class="right-teasercars visible-phone">
      <%= render 'layouts/right_teasercars' %>
    </div>
    <div class="as-feedbacks visible-phone">
      <%= render 'layouts/as_feedbacks' %>
    </div>
    <div class="vkgroup-vidget-03 visible-phone">
      <%= render 'layouts/as_vkgroup_03' %>
    </div>
  </span>
  <span class="right-as">
    <div class "as-callback visible-desktop">
      <%= render 'layouts/as_callback' %>
    </div>
    <div class="right-teasercars hidden-phone">
      <%= render 'layouts/right_teasercars' %>
    </div>
    <div class="as-feedbacks visible-tablet">
      <%= render 'layouts/as_feedbacks' %>
    </div>
    <div class='vkgroup-vidget-02 visible-tablet'>
      <%= render 'layouts/as_vkgroup_02' %>
    </div>
  </span>
</div>
