<div class="row-fluid">
  <div class="as-contacts">
    <div class="contacts-head visible-desktop">
            наши контакты
    </div>
    <ol>
      <span class="callus visible-desktop">Звоните нам</span>
      <span class="phone"><i class="icon-phone-sign"></i> 37-17-17</span>   
      <span class="skype"><a href="skype:vasheavto", class="skype-link"><i class="icon-skype"></i> vasheavto</a></span>
      <span class="vkon">
      <%= link_to(image_tag("vkon.png"), href="http://vk.com/avto") %>
      </span>
    </ol>
  </div>
  <div class="centr-cars">
    <% if @cars.any? %>
      <div class="cars-head">
        текущие предложения
      </div>
      <ol class="cars">
        <%= render @cars %>
      </ol>
      <%= will_paginate @cars %>
    <% else %>
      <h3> На данный момент предложения отсутсвуют. </h3>
    <% end %>
  </div>
  <div class="right-vipcars">
    <% if @cars_vip.any? %>
      <div class="vip_cars">
        <div class="vip-head">
          рекомендуем
        </div>
        <%= render 'shared/car_vip' %>     
      </div>
    <% end %>
  </div>
  <div class="as-feesbacks">
    <% if @feedbacks.any? %>
      <div class="feedbacks-head">
        отзывы
      </div>
      <div class="feedbacks">
        <%= render @feedbacks %>
      </div>
    <% end %>
  </div>
</div> 
