<div class="row-fluid">
  <div class="as-contacts hidden-desktop">
    <%= render 'as_contacts' %>
  </div>
  <span class="left-as">
    <div class="as-contacts visible-desktop">
      <%= render 'as_contacts' %>
    </div>
    <div class="as-feedbacks visible-desktop">
      <%= render 'as_feedbacks' %>
    </div>
    <div class="vkgroup-vidget visible-desktop">
      <%= render 'as_vkgroup' %>
    </div>
  </span>
  <span class="center-col">
    <div class="center-cars">
      <%= render 'center_cars' %>
    </div>
    <div class="right-vipcars visible-phone">
      <%= render 'right_vipcars' %>
    </div>
    <div class="as-feedbacks visible-phone">
      <%= render 'as_feedbacks' %>
    </div>
  </span>
  <span class="right-as">
    <div class="right-vipcars hidden-phone">
      <%= render 'right_vipcars' %>
    </div>
    <div class="as-feedbacks visible-tablet">
      <%= render 'as_feedbacks' %>
    </div>
  </span>
</div> 
