<% provide(:title, "Войти") %>
<h3>Войти</h3>

<div class="row-fluid">
  <div class="sign-in">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :login, "Логин" %>
      <%= f.text_field :login %>

      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password %><br />

      <%= f.submit "Войти", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
