<% provide(:title, "Смена пароля") %>
<h1>Смена пароля</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= label_tag :current_password, "Текущий пароль" %>
      <%= password_field_tag :current_password, params[:current_password] %>
      
      <%= f.label :password, "Новый пароль" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Подтверждение" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
