<% provide(:title, 'Новый пользователь') %>
<h3>Новый пользователь</h3>

<div class="row">
  <div class="user-new">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :login, "Логин" %>
      <%= f.text_field :login %>

      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Подтверждение пароля" %>
      <%= f.password_field :password_confirmation %><br />

      <%= f.submit "Создать пользователя", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
