<% for car in @cars_teaser %>
  <div class="car-teaser">
    <% if car.photos.any? %>
      <%= link_to(image_tag(car.photos.first.image.url(:small), class: "teaser-photo", title: "#{car.name} #{car.model}, #{car.year_of_release}"), car_path(car)) %>
    <% else %>
      <%= link_to(image_tag("small_default.png", title: "#{car.name} #{car.model}, #{car.year_of_release}"), car_path(car)) %>
    <% end %>
    <span class="teaser-name">
      <%= link_to (h("#{car.name} #{car.model}, #{car.year_of_release}")), car_path(car) %>
    </span>
    <span class="teaser-price">
      <%= "#{number_with_delimiter(car.price.to_i, delimiter: " ")} руб." %>
    </span>
    <span class="teaser-engine-trans">
      <%= "#{car.engine} #{car.transmission}" %>
    </span>
    <br clear="all">
    <%= link_to car_path(car) do %>
      <span class="empty-span"></span>
    <% end %>
  </div>
<% end %>
