<%= div_for(client) do %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.phone %></td>
    <td>
      <%= link_to(client, method: :delete) do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </td>
    <td>
      <%= link_to edit_client_path(client) do %>
        <i class="fa fa-edit"></i>
      <% end %>
    </td>
  </tr>
<% end %>
