<% provide(:title, 'Редактирование клиента') %>
<div class="other-head">
  Редактирование клиента 
</div>
<div class="row-fluid">
  <div class="client-edit">
    <%= form_for(@client, :validate => true) do |f| %>

      <%= f.label :name, "Имя" %>
      <%= f.text_field :name %>

      <%= f.label :phone, "Номер телефона" %>
      <%= f.text_field :phone %>

      <%= f.label :information, "Информация о заказе" %>
      <%= f.text_area :information, :size => "25x7" %><br />

      <%= f.submit "сохранить клиента", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
