<% provide(:title, 'Заявки-клиенты') %>
<div class="row-fluid">
  <span class="clients-index-left visible-desktop">
      <%= render 'callbacks_col' %>
  </span>
  <span class="clients-index-center">
    <div class="hidden-desktop">
      <%= render 'callbacks_col' %>
    </div>
    <div>
      <%= render 'clients_col' %>
    </div>
    <div class="visible-phone">
      <%= render 'new_client_col' %>
    </div>
  </span>
  <span class="clients-index-right hidden-phone">
    <%= render 'new_client_col' %>
  </span>
</div>

