<% provide(:title, 'Заявки-клиенты') %>
<div class="row-fluid">
  <span class="callbacks-col">
    <div class="callback-head">
      Список заявок
    </div>
    <% if @callbacks.any? %>
      <div id="callback-clients">
        <table>
          <tr><th>Имя</th><th>Номер телефона</th><th></th></tr>
          <%= render @callbacks %>
        </table>
        <br />
        <%= will_paginate @callbacks, :param_name => 'callbacks_page' %>
      </div>
    <% else %>
      <%= "Заявок нет." %>
    <% end %>
  </span>
  <span class="clients-col">
    <div class="callback-head">
      Список клиентов
    </div>
    <% if @clients.any? %>
      <div id="clients">
        <table>
          <tr><th>Имя</th><th>Номер телефона</th><th></th></tr>
          <%= render @clients %>
        </table>
        <br />
        <%= will_paginate @clients, :param_name => 'clients_page' %>
      </div>
    <% else %>
      <%= "Клиентов нет." %>
    <% end %>
  </span>
  <span class="new-client-col">
    <div class="callback-head">
      новый клиент
    </div>
    <%= form_for(@client, :validate => true) do |f| %>

      <%= f.label :name, "Имя" %>
      <%= f.text_field :name %>

      <%= f.label :phone, "Номер телефона" %>
      <%= f.text_field :phone %>

      <%= f.label :information, "Информация о заказе" %>
      <%= f.text_area :information, :size => "25x7" %><br />

      <%= f.submit "сохранить клиента", class: "btn btn-flat" %>
    <% end %>
  </span>
</div>

