<% provide(:title, "Изменить настройки сайта") %>
<h3>Изменить настройки сайта</h3>

<div class="row-fluid">
  <div class="siteset-edit">
    <%= form_for(@setting) do |f| %>
      <%= render 'shared/error_messages', object: f.object %> 
      
        <%= f.label :var, t(@setting.var), class: "item-var" %>
        <div class="item-value">
          <% if @setting.var == "about_text" %>
            <%= f.text_area :value, size: "25x7" %>
          <% else %>
            <%= f.text_field :value %>
          <% end %>
        </div>

      <%= f.submit "Сохранить", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
