<% provide(:title, 'Проверка отзыва') %>
<div class="other-head">
  проверка отзыва 
</div>
<div class="row-fluid">
  <div class="feed-edit">
    <%= form_for(@feedback, :validate => true) do |f| %>
      <%= render 'feedback_form', f: f %>
      <%= f.label :checkf, "Показать отзыв посетителям" %>
      <%= f.check_box :checkf %><br>
      <%= f.submit "Сохранить отзыв", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

