<% provide(:title, 'Отзывы') %>
<div class="row-fluid">
  <div class="feedbacks-col">
    <h4>Отзывы наших клиентов:</h4> 
    <% if @feedbacks.any? %> 
        <div class="feedbacks">
          <%= render @feedbacks %>
        </div>
      <%= will_paginate @feedbacks %> 
    <% else %>
      <%= "Отзывов пока нет. Вы можете стать первым." %>
    <% end %>
  </div>
  <div class="newfeedback-col">
    <h4>Оставьте свой отзыв:</h4>
    <%= form_for(@feedback) do |f| %>
      <%= render 'feedback_form', f: f %>
      <%= f.submit "Оставить отзыв", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

