<% provide(:title, 'Отзывы') %>
<div class="row">
  <div class="span8">
    <h4>Отзывы наших клиентов:</h4> 
    <% if @feedbacks.any? %> 
        <ol class="feedbacks">
          <%= render @feedbacks %>
        </ol>
      <%= will_paginate @feedbacks %> 
    <% else %>
      <%= "Отзывов пока нет. Вы можете стать первым." %>
    <% end %>
  </div>
  <div class="span4">
    <h4>Оставьте свой отзыв:</h4>
    <%= form_for(@feedback) do |f| %>
      <%= render 'feedback_form', f: f %>
      <%= f.submit "Оставить отзыв", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

