<% provide(:title, 'Отзывы') %>
<div class="row-fluid">
  <div class="feedbacks-col">
    <div class="feedbacks-head">
      отзывы наших клиентов
    </div>
    <% if @feedbacks.any? %>
        <ol class="feedbacks">
          <%= render @feedbacks %>
        </ol>
      <%= will_paginate @feedbacks %>
    <% else %>
      <%= "Отзывов пока нет. Вы можете стать первым." %>
    <% end %>
  </div>
  <div class="newfeedback-col">
    <div class="feedbacks-head">
      оставьте  ваш отзыв
    </div>
    <%= form_for(@feedback) do |f| %>
      <%= render 'feedback_form', f: f %>
      <%= f.submit "оставить отзыв", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

