  <% $carprev %>
<% if car.vip? %>
  <% if $carprev  == 4 %>
    <li class="vip-first">
    <% $carprev = 3 %>
  <% elsif $carprev == 3 %>
    <li class="vip-sec">
    <% $carprev = 4 %>
  <% else %>
    <li class="vip-first">
    <% $carprev = 3 %>
  <% end %>
<% else %>
  <% if $carprev == 2 %>
    <li class="simple-first">
    <% $carprev = 1 %>
  <% elsif $carprev == 1 %>
    <li class="simple-sec">
    <% $carprev = 2 %>
  <% else %>
    <li class="simple-first">
    <% $carprev = 1 %>
  <% end %>
<% end %>
  <div class="photo">
    <% if car.photos.any? %>
      <%= link_to(image_tag(car.photos.first.image.url(:thumb), title: "#{car.name} #{car.model}, #{car.year_of_release} (#{car.photos.count} фото)"), car_path(car)) %>
    <% else %>
      <%= link_to(image_tag("thumb_default.png", title: "#{car.name} #{car.model}, #{car.year_of_release} (без фото)"), car_path(car)) %>
    <% end %>
  </div>
  <div class="cartext">
    <span class="name">
      <%= link_to (h("#{car.name} #{car.model}, #{car.year_of_release}")), car_path(car) %>
    </span><br />
    <span class="price">
      <%= "#{number_with_delimiter(car.price.to_i, delimiter: " ")} руб." %>
    </span>
    <span class="engine-trans">
      <%= "#{car.engine} #{car.transmission}" %>
    </span>
    <span class="body-type">
      <%= car.body_type.mb_chars.downcase %>
    </span>
    <span class="footage">
      <%= "#{number_with_delimiter(car.mileage.to_i, delimiter: " ")} км" %>
    </span><br />
    <% if signed_in? %>
      <span class="admin">
        | <%= link_to "изменить", edit_car_path(car) %>
        | <%= link_to "удалить", car, method: :delete,
                                      data: { confirm: "Удалить?" } %>
      </span>
    <% end %>
  </div> 
  <br clear="all">
</li>
