<% if car.vip? %>
  <li style="background-color:#fff7ad">
<% else %>
  <li style="background-color:#f5f5f5">
<% end %>
  <div class="photo">
    <% if car.photos.any? %>
      <%= link_to(image_tag(car.photos.first.image.url(:thumb), title: "#{car.name} #{car.model}, #{car.year_of_release} (#{car.photos.count} фото)"), car_path(car)) %>
    <% else %>
      <%= link_to(image_tag("thumb_default.png", title: "#{car.name} #{car.model}, #{car.year_of_release} (без фото)"), car_path(car)) %>
    <% end %>
  </div>
  <div>
    <div class="name">
      <b><%= link_to (h("#{car.name} #{car.model}, #{car.year_of_release}")), car_path(car) %></b>
    </div>
    <div class="price">
      <%= "#{number_with_delimiter(car.price.to_i, delimiter: " ")} руб.   #{car.engine} #{car.transmission}    #{car.body_type.mb_chars.downcase}  #{number_with_delimiter(car.mileage.to_i, delimiter: " ")} км" %>
    </div>
    <% if signed_in? %>
      <div class="admin">
        | <%= link_to "редактировать", edit_car_path(car) %>
        | <%= link_to "удалить", car, method: :delete,
                                      data: { confirm: "Удалить?" } %>
      </div>
    <% end %>
  </div> 
  <br clear="all">
</li>
