<div class="row">
  <div class="span4 offset1">
    <%= nested_form_for @car, :html=>{:multipart => true } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p>
      <%= f.select(:name, options_for_select(car_names_list, @car.name), include_blank: "--Марка--")  %>
      <%= f.label :model, "Модель" %>
      <%= f.text_field :model %>
      </p>
      <p>
      <%= f.select(:year_of_release, options_for_select(years_list, @car.year_of_release), include_blank: "--Год выпуска--") %>
      <%= f.select(:mileage, options_for_select(mileage_list, @car.mileage), include_blank: "--Пробег, км--") %>
      </p>
      <p>
      <%= f.select(:body_type, options_for_select(car_bodys_list, @car.body_type), include_blank: "--Тип кузова--") %> 
      <%= f.select(:color, options_for_select(colors_list, @car.color), include_blank: "--Цвет--") %>
      </p>
      <p>
      <%= f.select(:engine, options_for_select(car_engines_v_list, @car.engine), include_blank: "--Объем двигателя--") %>
      <%= f.select(:transmission, options_for_select([["Автоматическа","AT"],["Механическая","MT"]], @car.transmission), include_blank: "--Коробка передач--") %>
      </p>
      <p>
      <%= f.select(:engine_type, options_for_select([["Бензиновый","бензин"],["Дизельный","дизель"],["Гибридный","гибрид"]], @car.engine_type), include_blank: "--Тип двигателя--") %>
      <p>
      <%= f.label :price, "Цена" %>
      <%= f.text_field :price %><%= "руб." %>
      </p>
      <p>
      <%= f.label :describtion, "Описание" %>
      <%= f.text_area :describtion, :size => "25x4" %>
      </p> 
      <%= f.fields_for :photos do |photo_form| %>
        <p>
        <%= image_tag(photo_form.object.image.url(:thumb)) if photo_form.object.image? %>
        <%= photo_form.file_field :image unless photo_form.object.image? %><br />
        <%= photo_form.link_to_remove "удалить" %>
        </p>
      <% end %>
      <%= f.link_to_add "добавить фото", :photos %> 
      <p><%= f.submit "Сохранить объявление", class: "btn btn-large btn-primary" %></p>
    <% end %>
  </div>
</div>

