<div class="row-fluid">
  <div class="car-form">
    <%= nested_form_for @car, :html=>{:multipart => true } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p>
        <%= f.select(:name, options_for_select(car_names_list, @car.name), include_blank: "--Марка--")  %>
        <%= f.text_field :model, placeholder: "Модель" %>
      </p>
      <p>
        <%= f.select(:year_of_release, options_for_select(years_list, @car.year_of_release), include_blank: "--Год выпуска--") %>
        <%= f.select(:mileage, options_for_select(mileage_list, @car.mileage), include_blank: "--Пробег, км--") %>
      </p>
      <p>
        <%= f.select(:body_type, options_for_select(car_bodys_list, @car.body_type), include_blank: "--Тип кузова--") %>
        <%= f.select(:color, options_for_select(colors_list, @car.color), include_blank: "--Цвет--") %>
      </p>
      <p>
        <%= f.select(:engine, options_for_select(car_engines_v_list, @car.engine), include_blank: "--Объем двигателя--") %>
        <%= f.select(:transmission, options_for_select([["Автоматическа","AT"],["Механическая","MT"]], @car.transmission), include_blank: "--Коробка передач--") %>
      </p>
      <p class="engine-type">
        <%= f.select(:engine_type, options_for_select([["Бензиновый","бензин"],["Дизельный","дизель"],["Гибридный","гибрид"]], @car.engine_type), include_blank: "--Тип двигателя--") %>
        <%= f.text_field :price, placeholder: "Цена" %>
      </p>
      <p>
        <%= f.text_area :describtion, placeholder: "Описание...", :size => "25x7" %>
      </p>
      <%= f.fields_for :photos do |p| %>
        <p class="photo-add">
          <%= image_tag(p.object.image.url(:thumb),class:"photo-pre") if p.object.image? %>
          <%= p.file_field :image unless p.object.image? %>
          <%= p.hidden_field :image_cache %><br />
          <nobr><%= p.link_to_remove " удалить фото" %></nobr>
        </p>
      <% end %>
      <p class="link-to-add">
        <%= f.link_to_add "добавить фото", :photos %><br />
      </p>
      <p><%= f.submit "Сохранить объявление", class: "btn btn-flat" %></p>
    <% end %>
  </div>
</div>

