<div class="row-fluid">
  <div class="as-contacts hidden-desktop">
    <%= render 'layouts/as_contacts' %>
  </div>
  <span class="left-as">
    <div class="as-contacts visible-desktop">
      <%= render 'layouts/as_contacts' %>
    </div>
    <div class="as-feedbacks visible-desktop">
      <%= render 'layouts/as_feedbacks' %>
    </div>
    <div class="vkgroup-vidget visible-desktop">
      <%= render 'layouts/as_vkgroup' %>
    </div>
  </span>
  <span class="center-col">
    <div class="center-cars">
      <%= render 'layouts/center_cars' %>
    </div>
    <div class="as-feedbacks visible-phone">
      <%= render 'layouts/as_feedbacks' %>
    </div>
  </span>
  <span class="right-as">
    <div class="as-feedbacks visible-tablet">
      <%= render 'layouts/as_feedbacks' %>
    </div>
  </span>
</div> 
