<% provide(:title, 'Рекомендуем') %>
<div class="row-fluid">
  <div class="center-phone-div visible-phone">
    <span class="phone-company center-phone">
      <%= render 'layouts/phones' %>
    </span>
  </div>
  <span class="left-as">
    <div class="as-feedbacks visible-desktop">
      <%= render 'shared/as_feedbacks' %>
    </div>
    <div class="vkgroup-vidget-01 visible-desktop">
      <%= render 'shared/as_vkgroup_01' %>
    </div>
  </span>
  <span class="center-col">
    <div id="center-div">
      <div id="center-cars">
        <%= render 'center_cars' %>
      </div>
      <div class="as-feedbacks visible-phone">
        <%= render 'shared/as_feedbacks' %>
      </div>
      <div class="vkgroup-vidget-03 visible-phone">
        <%= render 'shared/as_vkgroup_03' %>
      </div>
    </div>
  </span>
  <span class="right-as">
    <div id="right-col">
      <div class="as-feedbacks visible-tablet">
        <%= render 'shared/as_feedbacks' %>
      </div>
      <div class='vkgroup-vidget-02 visible-tablet'>
        <%= render 'shared/as_vkgroup_02' %>
      </div>
    </div>
  </span>
</div>
