<% provide(:title, "#{@car.name} #{@car.model}, #{@car.year_of_release}") %>
<h4><%= "#{@car.name} #{@car.model}, #{@car.year_of_release}" %></h4>
<div class="row-fluid">
  <div class="fotoshow-col">
    <% if @car.photos.any? %>
      <div class="fotorama" data-nav="thumbs" data-width="100%" data-max-width="640" data-ratio="800/600" data-loop="true" data-thumb-width="100" data-thumb-height="75">
        <% for photo in @car.photos %>
          <%= link_to "", photo.image.url %>
        <% end %>
        </div>
    <% else %>
      <%= image_tag("default.png") %>
    <% end %>
  </div>
  <div class="cardesc-col">
    <div class="cardesc">
      <div class="contacts">
        <span class="phone-sh"><i class="icon-phone-sign"></i> <%=Setting.phone_text %></span>   
        <span class="skype-sh"><a href="skype:<%=Setting.skype_text%>", class="skype-link", title="Skype"><i class="icon-skype"></i><%=Setting.skype_text%></a></span>
        <span class="vkonsq-sh">
          <%= link_to(image_tag("vkon_square.png", title: "ВКонтакте"), Setting.vk_text) %>
        </span>
        <span class="vkon-sh hidden-phone">
          <%= link_to(image_tag("vkon.png", title: "ВКонтакте"), Setting.vk_text) %>
        </span>
      </div>
      <div class="price">
        Цена <b><%= " #{number_with_delimiter(@car.price.to_i, delimiter: " ")} руб." %></b>
      </div>
      <div class="ttx">
        <%= "#{@car.name} #{@car.model}, #{@car.year_of_release} г." %><br />
        <%= "Пробег #{number_with_delimiter(@car.mileage.to_i, delimiter: " ")} км, #{@car.engine} #{@car.transmission}, #{@car.engine_type}, #{@car.body_type.mb_chars.downcase}, цвет #{@car.color.mb_chars.downcase}." %>
      </div>
      <div class="describtion">
        <%= simple_format(@car.describtion) %>
      </div>
    </div>
  </div>
</div>
