<header class="navbar navbar-static-top" data-spy="affix" data-offset-top="93">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Подбор Авто", root_path, id: "logo" %>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li><a href="/about"> информация </a></li>
          <li><%= link_to 'автомобили'.html_safe, cars_path %><li>
          <li><a href="/feedbacks"> отзывы </a></li>
          <% if signed_in? %>
            <li><a href="/compose"> объявление </a></li>
            <% if current_user.admin? %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> админка <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "создать пользователя", signup_path %></li>
                  <li><%= link_to "все пользователи", users_path %></li>
                </ul>
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.login %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "сменить пароль", edit_user_path(current_user) %></li>
                <li><%= link_to "выйти", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
