<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if current_page?('/') %>
      <meta name="describtion" content="Услуги по подбору автомобиля. Профессиональная помощь при покупке авто" />
      <meta name="keywords" content="подбор авто, услуги по подбору авто, помощь при покупке автомобиля, Чебоксары" />
    <% end %>
    <meta name='yandex-verification' content='5e21431179bfca1d' />
    <meta name="google-site-verification" content="iPzHdr53_NLkQ4on1WHsklvEYqFqnIW0Fcd2UNmD810" />
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper">
      <%= render 'layouts/intro' %>
      <%= render 'layouts/header' %>
      <div class="container-fluid">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
        <%= yield %>
        <%#= debug(params) if Rails.env.development? %>
      </div>
      <div class="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
